@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e95ca;
  font-family: Lato, sans-serif;
  font-weight:400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.wrapper-b {
  width: 110vw;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
  filter: blur(15px);
  background-blend-mode: multiply;
  background-color: #666666;
}

.wrapper {
  display: flex;
  max-width: 700px;
}

img {
  width: 100%;
  min-width: 300px;
  max-width: 700px;
  position: absolute;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}


#quote-box {
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  padding: 29px 28px;
  display: flex;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #f4fcff;
  text-align: right;
  flex-direction: column-reverse;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 35%, rgba(0, 0, 0, 0.60) 100%);
  text-shadow: 1px 1px 1px #1b1b1b;
  
  .quote-text {
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 33px;
    background: #00000075;
    padding: 5px;
    border-radius: 5px;
    color: white;
    
    i{
      font-size:1.0em;
      margin-right: 0.4em;
      color: #acd8ff;
    }
  }
  
  .quote-author {
    padding-top:20px;
    font-size:1em; 
  }
  
  .buttons {
    
    .button {
      height:38px;
      border:none;
      border-radius:3px;
      color:#fff;
      background-color:#316fb0;
      outline:none;
      font-size:0.85em;
      padding: 8px 18px 6px 18px;
      margin-top:30px;
      opacity:1;
      cursor:pointer;
      
      &:hover {
        opacity:0.9;
      }
      
      &#tweet-quote, &#tumblr-quote {
        float:left;
        padding:0px;
        padding-top:8px;
        text-align:center;
        font-size:1.2em;
        margin-right:5px;
        height:30px;
        width:40px;
      }
      
      &#new-quote {
        float:right;
      }
    }
  }
  
}

a {
  text-decoration: none;
  color: #44c3ff;
}
